!!! 5
%html
  %head
    %title This is the Title in a title tag within the head tag
  %body
    %h1 This is a heading within an h1 tag
    %p
      Paragraphs
    %h2 Heading with h2
    %p
      Another paragraph