!!! 5
%html
  %head
    %title jacktrick.com
    %link(rel="stylesheet" href="stylesheets/styles.css")
  %body
    #container
      #header
        %h1 Jack Bracken
        %h2 Best before never
    #wrapper
      #nav
        #{locals[:page]}
        %ol
          %a(href="/")
            %li HOME
          %a(href="blog")
            %li BLOG
          %a(href="code")
            %li CODE
          %a(href="photo")
            %li PHOTOGRAPHY
          %a(href="contact")
            %li CONTACT
      #content
        =yield
      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage
      #footer
        %p
          This is the footer.