!!! 5
%html
  %head
    %title jacktrick.com
    %link(rel="stylesheet" href="stylesheets/styles.css")
  %body
    #container
      /#header
      #nav
        %h1 jacktrick.com
        %h2 personal site of jack bracken
        %ol
          %a(href="/")
            %li HOME
          %a(href="blog")
            %li BLOG
          %a(href="code")
            %li CODE
          %a(href="photo")
            %li PHOTO
          %a(href="contact")
            %li CONTACT
      #content
        =yield