!!! 5
%html
  %head
    %title jacktrick.com
    %link(rel="stylesheet" href="stylesheets/styles.css")
  %body
    .container
      .nav
        .headline jacktrick
        .site-description-text personal site of jack bracken
        %img.profile_img(src="img/me2.png" alt="Mah ugly mug")
        %ul
          %a(href="/")
            %li.active_page ABOUT
          %a(href="blog")
            %li BLOG
          %a(href="code")
            %li CODE
          %a(href="photo")
            %li PHOTO
          %a(href="contact")
            %li CONTACT
      .content
        =yield