!!! 5
%html
  %head
    %title jacktrick.com
    %link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico")
    %link(rel="stylesheet" href="/stylesheets/styles.css" type="text/css")
  %body
    .container
      .nav
        .headline jacktrick
        .site-description-text personal site of jack bracken
        %img.profile_img(src="/img/me2.png" title="Jack Bracken. Juggling developer extraordinaire.")
        /warning, ghetto navbar ahead - need to rewrite to be more DRY
        %ul
          %a(href="/")
            %li{:class => ("active_page" if locals[:page] == "INDEX")} INDEX
          %a(href="/blog")
            %li{:class => ("active_page" if locals[:page] == "BLOG")} BLOG
          %a(href="/code")
            %li{:class => ("active_page" if locals[:page] == "CODE")} CODE
          %a(href="/photo")
            %li{:class => ("active_page" if locals[:page] == "PHOTOGRAPHY")} PHOTO
          %a(href="/contact")
            %li{:class => ("active_page" if locals[:page] == "CONTACT")} CONTACT
      .content
        =yield