* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'absenderregular';
    src: url('../fonts/absender1-webfont.eot');
    src: url('../fonts/absender1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/absender1-webfont.woff') format('woff'),
         url('../fonts/absender1-webfont.ttf') format('truetype'),
         url('../fonts/absender1-webfont.svg#absenderregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #e0d0aa;
    color: #493227;
    height:100%;
}

body {
    height: 100%;
}

#container {
    max-width: 800px;
    height: 100%;
}

#nav {
    font-family: absenderregular;
    position: fixed;
    width:240px;
    background-color: #1d1e24;
    min-height: 100%;
    color: #8da893;
}

#nav h1 {
    padding:16px 8px 0 8px;
    font-size: 42px;
    text-align: center;
}

#nav h2 {
    padding:0 8px;
    text-align: center;
    font-size: 14px;
    font-family: helvetica;
}

.profile_img {
    display: block;
    padding: 12px 0;
    margin: 0 auto;
    float: none;
}

#nav ul {
    list-style: none;
}

#nav ul li {

    text-decoration: none;
    font-size: 40px;
    text-align: center;
    padding: 3px 0 0 0;
}

#nav a:link, a:visited {
    color: #8da893;
    text-decoration:none;
}

.active_page {
    background-color: #493227;
    color: #8da893;
}

#wrapper{

}

#header>h1{

}

h2{

}

#content{
    float: right;
    max-width: 500px;
}

#content p{

}

h1{

}

a{
    color:#c18e44;
    text-decoration: bold;
}

p{
    font-family: "helvetica";
}