* {
    margin:0;
    padding:0;
}

html {
    background-color: #e0d0aa;
    color: #493227;
    height:100%;
}

body {
    height: 100%;
}

#container {
    max-width: 800px;
    height: 100%;
}

#nav {
    font-family: absender;
    position: fixed;
    width:240px;
    /*float:left;*/
    background-color: #1d1e24;
    min-height: 100%;
    color: #8da893;
}

#nav h1 {
    padding:22px 8px 0 8px;
    font-size: 42px;
    text-align: center;
}

#nav h2 {
    padding:0 8px;
    text-align: center;
    font-size: 14px;
    font-family: helvetica;
}

#nav img {
    display: block;
    padding: 12px 0;
    margin: 0 auto;
    float: none;
}

#nav ul {
    /*padding: 22px 12px;*/
    list-style: none;
}

#nav ul li {
    color: #8da893;
    text-decoration: none;
    font-size: 52px;
    text-align: center;
    padding: 0 0 4px 0;
}

#nav a:link, a:visited {
    text-decoration:none;
}

#wrapper{

}

#header>h1{

}

h2{

}

#content{
    float: right;
    max-width: 500px;
    /*padding-left: 242px;*/
}

#content p{

}

#side_bar{

}

h1{

}

#footer{

}

a{
    color:red;
    text-decoration: bold;
}

p{
    font-family: "helvetica";
}