# example init file

require 'data_mapper'
require 'dm-mysql-adapter'
require 'dm-chunked_query'

DataMapper::Logger.new($stdout, :debug)

DataMapper.setup(:default, "mysql://localhost/database")

require_relative 'blogpost'
DataMapper.auto_upgrade!
DataMapper.finalize